- var advancedArg = 0;

.modal-dialog
  .modal-content

    if !authorizedForVersionOne
      .alert.alert-danger(role="alert") This application can not be used in this version of Girder (More than one file)

    form.creatis-launch-execution-form.modal-form(role="form")
      if pipeline
        .modal-header
          button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
          h4.modal-title!= pipeline.name + "  <small>Version " + pipeline.version + "</small>"
          if file && file.get('name')
            .g-dialog-subtitle
              i.icon-doc-inv
              span= file.get('name')

          if filesCount && filesCount > 0
            .g-dialog-subtitle
              i.icon-doc-inv
              span= filesCount + " selected files"

      .modal-body
        if folders && pipeline && authorizedForVersionOne
          ul.nav.nav-tabs
            li.active
              a(data-toggle="tab", id="tab-general", href="#general") General
            each param, i in pipeline.parameters
              if param.name != "results-directory" && param.type != "File" && !param.defaultValue
                li
                  a(data-toggle="tab", id="tab-param-" + i, href="#param-" + i)= param.name
              else if param.name != "results-directory" && param.defaultValue
                - advancedArg = 1;

            if advancedArg
              li
                a(data-toggle="tab",  id="tab-advanced", href="#advanced") Advanced

          .tab-content
            #general.tab-pane.fade.active.in
              .form-group
                label(for="name-execution") Name of execution
                input.form-control#name-execution(type="text")

              .form-group
                label(for="selectFolderDestination") Result directory
                select.form-control#selectFolderDestination
                  option(selected, disabled, hidden)
                  each folder, i in folders
                    option(value=i)!= folder.get("indentText") + folder.get("name")

            each param, i in pipeline.parameters
              if param.name != "results-directory" && param.type != "File" && !param.defaultValue
                .tab-pane.fade(id="param-" + i)
                  .form-group
                    label Description
                    p !{param.description}

                  .form-group
                    label(for=param.name)= param.name
                    input.form-control(id="input-param-" + i, type="text")

            #advanced.tab-pane.fade
              each param, i in pipeline.parameters
                if (param.name != "results-directory" && param.defaultValue)
                  .form-group
                    label(for=param.name)= param.name
                    p !{param.description}
                    input.form-control.optional-vip-param(id="input-param-" + i, type="text", placeholder="Default : " + param.defaultValue)

      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Close
        a.btn.btn-small.btn-default#go-back-to-pipelines(data-dismiss="modal") Go Back to pipeline list
        button.btn.btn-success#run-execution(disabled=!authorizedForVersionOne, type="submit", data-loading-text="<i class='fa fa-spinner fa-spin'></i> Execute")
          i.icon-play
          |  Execute
