.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title Chose VIP application
      if file
        .g-dialog-subtitle= "To launch on " + file.name()

    .modal-body
      if pipelines
        table.table.table-hover
          tbody
            thead
              tr
                th Application
                th Version
                th Execution
            each pipeline, pid in pipelines
              tr
                td= pipeline[0].name
                td
                  select.form-control.select-version-pipeline(pid=pid)
                    each pipelinesVersion in pipeline
                      option(value=pipelinesVersion.versionId)= pipelinesVersion.version
                td
                  button.btn.btn-small.btn-primary.confirm-pipeline(pid=pid) Run it

    .modal-footer
      a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
