- var widthModal = pipeline.parameters.length * 14 + "%";
- var i = 0;
- var advancedArg = 0;
- var paramResultsDirectory = 0;

link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')

.modal-dialog(style="width:"+widthModal)
  .modal-content

    if !authorizedForVersionOne
      .alert.alert-danger(role="alert") This application can not be used in this version of Girder (More than one file)

    form.creatis-launch-pipeline-form.modal-form(role="form")
      .modal-header
        a.close(data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title!= pipeline.name + "  <small>Version " + pipeline.version + "</small>"
        if file && file.name
          .g-dialog-subtitle
            i.icon-doc-inv
            span= file.name

        if filesCount && filesCount > 0
          .g-dialog-subtitle
            i.icon-doc-inv
            span= filesCount + " selected files"

      .modal-body
        ul.nav.nav-tabs
          li.active
            a(data-toggle="tab", id="tab-general", href="#general") General
          each param in pipeline.parameters
            if param.name != "results-directory" && !(param.type == "File" && !param.defaultValue) && !param.defaultValue
              li
                a(data-toggle="tab", id="tab-" + param.name, href="#param" + i++)= param.name
            else if param.name == "results-directory"
              - paramResultsDirectory = 1;
            else if !(param.type == "File" && !param.defaultValue)
              - advancedArg = 1;

          if advancedArg
            li
              a(data-toggle="tab", id="tab-advanced", href="#advanced") Advanced

        .tab-content
          #general.tab-pane.fade.active.in
            .form-group
              label(for="name-execution") Name of execution
              input.form-control#name-execution(type="text")

            .form-group
              label(for="selectFolderDestination") Result directory
              select.form-control#selectFolderDestination
                option(selected, disabled, hidden)
                each folder in folders
                  option(value=folder._id)!= folder.indentText + folder.name

            .form-check
              input.form-check-input#send-email(type="checkbox")
              label.form-check-label(for="send-email") Send email

          - i = 0;
          each param in pipeline.parameters
            if param.name != "results-directory" && (!(param.type == "File" && !param.defaultValue) && !param.defaultValue)
              .tab-pane.fade(id="param" + i++)
                .form-group
                  label Description
                  p !{param.description}

                .form-group
                  label(for=param.name)= param.name
                  input.form-control(id=param.name, type="text")

          #advanced.tab-pane.fade
            each param in pipeline.parameters
              if (param.name != "results-directory" && param.defaultValue)
                .form-group
                  label(for=param.name)= param.name
                  p !{param.description}
                  input.form-control(id="advanced-"+param.name, type="text", placeholder="Default : " + param.defaultValue)

      .modal-footer
        a.btn.btn-small.btn-default.btn-close-pipeline(data-dismiss="modal") Close
        button.btn.btn-success#run-pipeline(type="submit", data-loading-text="<i class='fa fa-spinner fa-spin'></i> Execute")
          i.icon-play
          |  Execute
