.creatis-list-pipelines-header
  .g-body-title Applications
  .g-body-subtitle= file.name

- var i = 1

table.table.table-hover
  tbody
    thead
      tr
        th #
        th Application
        th Description
        th Version
        th Execution
    each pipeline, name in pipelines
      - var firstVersion = pipeline[0].identifier
      tr
        td= i
        td= name
        td
        td
          select.form-control.select-version-pipeline(data-id=i)
            each version in pipeline
              option(value=version.identifier)= version.version
        td
          button.btn.btn-small.btn-primary.confirm-pipeline(id="confirm-pipeline" + i++, value=firstVersion) Run it

script.
  $('.select-version-pipeline').change(function (){
    var id = $(this).attr('data-id');
    $('#confirm-pipeline' + id).val($(this).val());
  });
