- var i = 1;

.creatis-list-pipelines-header
  .g-body-title My executions
  .g-body-subtitle Executions history

table.table.table-hover
  tbody
    thead
      tr
        th #
        th Name
        th Application
        th Status
        th Start
          small    MM/JJ/YYYY
        th Actions
    each pipeline in pipelines
      - var date = new Date(pipeline.get('timestampCreation') * 1000);
      - var hideResult = (pipeline.get('status') == statusKeys[4]) ? '' : 'hidden';
      tr.pipeline
        td= i++
        td= pipeline.name()
        td= pipeline.get('pipelineName')
        td= status[pipeline.get('status')]
        td= date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds()
        td#pipeline-action
          a(href="#user/" + user.id + "/folder/" + pipeline.get('childFolderResult'), target='_blank', style="visibility:" + hideResult)
            button.btn.btn-small.btn-primary Results

          button.btn.btn-small.btn-danger.deletePipeline(value=pipeline.id) Delete
